body {
    color: #222;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body, h2, div, input, button {
    padding: 0;
    margin: 0;
}

.centro {
    text-align: center;
}

.nombres {
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
}

.nombre{
    display: grid;
    grid-template-columns: minmax(100px,300px) 1fr;
    border-top: 1px solid #48e;
}

.options {
    display: flex;
    justify-self: end;
}

.add-nombres {
    margin-top: 40px;
}

#nombre, #add{
    padding: 4px 8px;
    
}

.options button {
    background: transparent;
    border: none;
    margin: 4px 16px;
    outline: none;
}

.delete:hover {
    color: #999;
}

.imposible {
    color: #ccc;
}

.options {
    color: #37d;
}

.posible:hover {
    color: #6af;
}

.nombre h2 {
    padding: 6px;
    color: #48e;
    outline: #37d;
}
